:root {
    --amount-text: #4388b1;
    --button-bg-danger: #eb4b4b;
    --button-bg-important: #dd92c8;
    --button-bg: #5ec9b3;
    --button-border-color: #ddd;
    --button-font-size: 18px;
    --button-height: 48px;
    --button-radius: 8px;
    --button-text: white;
    --date-text: rgba($color: #000000, $alpha: 0.7);
    --emoji-nav-text-selected: #333;
    --emoji-nav-text: #999;
    --error-color: #eb4b4b;
    --float-button-bg: var(--button-bg);
    --float-button-text: var(--button-text);
    --input-border-color: var(--button-bg);
    --input-min-height: 48px;
    --input-radius: var(--button-radius);
    --input-shadow: rgba(0, 0, 0, 0.25);
    --list-tag-text: #333;
    --list-amount-text: var(--amount-text);
    --list-time-text: var(--date-text);
    --main: #55cfcd;
    --navbar-bg-end: var(--welcome-bg-end);
    --navbar-bg-start: var(--welcome-bg-start);
    --navbar-text: var(--button-text);
    --number-button-bg: white;
    --overlay-bg: var(--button-text);
    --overlay-mask-bg: rgba(0, 0, 0, 0.5);
    --overlay-user-bg: var(--button-bg);
    --overlay-user-text: white;
    --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
    --tag-bg: #EFEFEF;
    --text: #333;
    --top-safe-area-height: 24px;
    --total-bg: #252A43;
    --total-expenses: #53A867;
    --total-income: #FE7275;
    --total-text: white;
    --transition-duration: 0.5s;
    --welcome-bg-end: var(--button-bg);
    --welcome-bg-start: #f1cee7d2;
    --welcome-card-bg: var(--button-text);
    --welcome-nav-gap: 8px;
    --welcome-nav-height: 64px;
    --welcome-text: var(--button-text);
    --z-index-bottom-nav: 8;
    --z-index-overlay: 16;
    --z-index-navbar: 32;
}